
language: node_js

node_js:
    - "lts/*"

cache:

    directories:
        - ~/.npm
        - ./node_modules
        - ~/.cache
    override:
        - npm ci
        - npm run cy:verify

install:
    - npm ci

script:
    - ng lint
    - ng build --prod
    - npm run cy:verify
    - npm run ci:cy-run
    - ng build --prod --base-href /toh-cypress/
    - mv dist/toh-cypress/index.html dist/toh-cypress/404.html

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: dist/toh-cypress
  on:
    branch: develop

