#app-content {
  margin: 20px;
}

.page-container, #app-content {
  margin: 20px;

  .page-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    .title {

    }
  }

  .page-content {

  }
}
