#no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	p {
		width: 339px;
		height: 46px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		color: #4c566a;
	}
	
}

