#widget-field-mat-form-field {
	width: 100%;
	
	.mat-form-field-wrapper {
		padding-top: 1.34375em;
		padding-bottom: 0 !important;

	}
	
	&.no-padding {
		.mat-form-field-wrapper {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			
		}
	}
	
	&.outline-always {
		.mat-form-field-outline.mat-form-field-outline-thick {
			opacity: 1 !important;
		}
	}
	
	&.show-outline {
		.mat-form-field-outline.mat-form-field-outline-thick {
			opacity: 1 !important;
		}
	}
	
	&.hide-outline {
		.mat-form-field-outline.mat-form-field-outline-thick {
			opacity: 0 !important;
		}
	}
	
	&.hide-theme-color {
		&.mat-form-field {
			.mat-form-field-wrapper {
				.mat-form-field-underline {
					display: none;
				}
				
				.mat-form-field-subscript-wrapper {
					display: none;
				}
			}
		}
	}
	
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance:textfield; /* Firefox */
	}
	mat-icon{
		font-size: 24px;
		margin-top: -10px;
	}
}

